*{
    margin: 0;
}
body{
    height: 200vh;
    display: flex;

    flex-direction: column;
}
header{
    color: #fff;
    background-color: blueviolet;
    height: 10vh;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
}
button{
    font-size: 16px;
    color: #fff;
    padding: 10px;
    height: 40px;
    margin: 5px;
   
    border-radius: 7px;
    border: none;
    cursor: pointer;
    opacity: .5;
    transition: .9s;
}
#btn_cadastrar{
    background-color: blue;
}
#btn_sair{
    width: 60px;
    background-color: red;
}
button:hover{
    opacity: 1;
    font-size: 18px;

    transform: scale(1.2);
}
section{
    flex: 1;
    background-image: url("https://www.designi.com.br/images/preview/11175723.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
article {
    flex: 1;
    background-image: url("https://th.bing.com/th/id/R.e843f274f0dda4970b299033685cb9dc?rik=4yGrTgxd8VS61Q&pid=ImgRaw&r=0");
    background-size: cover;
    background-repeat: no-repeat;
}
.contato{
    bottom: 20px;
    right: 20px;
    position: fixed;
}
footer{
    height: 60px;
    background-color: black;
}